.container-fluid-footer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    align-items: center;
    justify-content: center;
    
    padding: 20px;
   
}

.footer-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px; 
    
}

.footer-frame img {
    width: 100px; 
}

.footer-frame p {
    display: flex;
    margin: 0;
    line-height: 1.5;
    align-items: center;
}