#logo {
  width: 233px; /* Ajusta a largura para 15% da largura da viewport */
  height: auto; /* Mantém a proporção da altura */
  font-size: 0.3384615384615385em;
}

.container-1 {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid black;
}

h6 {
  margin-left: -0.15384615384615385em;
  width: 15vw;
  height: auto;
  text-align: center;
}

#button-1 {
  background: white;
  color: black;
  border: 3px solid black;
}

#button-2 {
  background: black;
  color: white;
  border: none;
}

@media (max-width: 700px) {
  body {
    width: 100%;
  }
  header {
    gap: 10px;
  }
  h6 {
    display: none;
  }
  #logo {
    width: 140px;
  }
  .container-fluid-carrosel {
    display: flex;
    width: 100vw;
    height: auto;
    padding: 0px 50px;
  }
}
