#logo {
  width: 233px; 
  height: auto; 
  font-size: 0.3384615384615385em;
}


.container-1 {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid black;
}

h6 {
  margin-left: -0.15384615384615385em;
  width: 15vw;
  text-align: center;
}

#button-1 {
  background: white;
  color: black;
  border: 3px solid black;
}

#button-2 {
  background: black;
  color: white;
  border: none;
}

@media (max-width: 1000px) {
  body {
    width: 100%;
  }
  header {
    gap: 10px;
  }
  h6 {
    display: none;
  }
  #logo {
    width: 140px;
  }

  .carrossel-accordion-container {
    display: flex;
    width: 100%; 
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box; 
    padding: none;
    margin-left: 0 !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .carrossel{
    width: 100%;
    
    font-size: 15px ;
    align-items: center;
    justify-content: center;
  }
  .carrossel h2 {
    text-align: center;
    justify-content: center;
  }

  .carousel-inner img {
    width: 100%; 
    height: auto;
    border-radius: 10px;
  }

  .carousel-caption {
    display: block !important;
  }

  .accordion{
    display: flex !important;
    width: 100% ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .accordion h2{
    text-align: center !important;
    justify-content: center;
    align-items: center;
  }

  .accordion-item{
    width: 100% !important;
  }
      .footer-frame {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 0px !important; 
    }

   
}
