@import "header.css";
@import "menu.css";
@import "section.css";
@import "cards.css";
@import "footer.css";
@import "media.css";

#slogan {
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
